@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stephen Covey Priorities Tracker</h1>
    <p>Let's get better at taking care of your priorities!</p>
</div>